

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #7CB342;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 5px;
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
    0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
    0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
    0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
    0% { transform: rotate(0deg); transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}

/*  FOR APPROVE TABLE BECAUSE CHECKBOX AND THEME NONE */
.ui-datatable-tablewrapper {
    overflow:hidden !important;
}
.ui-icon-check {
    background-position: -64px -144px;
}
.ui-icon-circle-triangle-s {
    background-position: -64px -192px;
}
.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}
a.ui-rowgroup-toggler
{
    float:left;
}
.ui-icon {
    width: 16px;
    height: 16px;
    background-image: url(#{request.contextPath}/faces/javax.faces.resource/images/ui-icons_222222_256x240.png?ln=primefaces-omega);
}

.ui-chkbox-box
{
    border: solid 1px;
    border-color:#d6d6d6;
}
.ui-chkbox-box.ui-state-active, .ui-chkbox-box.ui-state-focus.ui-state-active, .ui-radiobutton-box.ui-state-active, .ui-radiobutton-box.ui-state-focus.ui-state-active {
    border: 1px solid #156090;
    background: #186ba0;
    color: #fff;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #156090;
    background: #186ba0;
    color: #fff;
}

.ui-state-default .ui-icon {
    background-image: url(#{request.contextPath}/faces/javax.faces.resource/images/ui-icons_454545_256x240.png?ln=primefaces-omega);
}
.ui-state-highlight .ui-chkbox-box .ui-icon, .ui-state-highlight .ui-radiobutton-box .ui-icon {
    background-image: url(#{request.contextPath}/faces/javax.faces.resource/images/ui-icons_ffffff_256x240.png?ln=primefaces-omega);
}
.ui-chkbox-box.ui-state-active .ui-icon, .ui-radiobutton-box.ui-state-active .ui-icon {
    background-image: url(#{request.contextPath}/faces/javax.faces.resource/images/ui-icons_ffffff_256x240.png?ln=primefaces-omega);
}

.ui-icon-search {
    background-position: -160px -112px;
    display:none
}
/* --------------------------------------------------------------------------------- */
.ui-icon-seek-prev {
    background-position: -48px -160px;
}
.ui-icon-seek-first {
    background-position: -80px -160px;
}
.ui-icon-seek-next {
    background-position: -32px -160px;
}
.ui-icon-seek-end {
    background-position: -64px -160px;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}
.ui-paginator .ui-paginator-page.ui-state-active {
    background: #7cb342;
    color: #fff;
    border-color: #156090;
}
.ui-paginator .ui-paginator-page.ui-state-hover {
    background: #eee;
    color: black;
}

.ui-widget-content
{
    background: #fff;
}
.ui-autocomplete
{
    display: block !important;  
}
.ui-autocomplete-panel .ui-autocomplete-list-item {
    /* border: 0 none; */
    font-weight: normal;
    margin: 1px 0;
    padding: 3px 5px;
    text-align: left;
    font-family: inherit;
}
.ui-outputlabel-rfi
{
    color:red;
}
.ui-widget-overlay {
    background: #1f2226;
    opacity: 0.5;
    filter: Alpha(Opacity=60);
}

.ui-blockui {
    top: 0;
    left: 1%;
    width: 98%;
}

table .ui-state-error{
    border: red solid 1px;
}
.ui-outputpanel-loading{display:none;}

#header_main,#sidebar_main,.md-fab-wrapper
{
    z-index: 1000;
}
.uk-modal{z-index: 1001;}

.ui-state-warning{
    background-color:yellow;
}

span.ui-autocomplete-token-icon.ui-icon.ui-icon-close
{
    display:none;  
}
ul.ui-autocomplete-multiple-container,ul.ui-autocomplete-multiple-container .ui-inputfield
{
    width:100%;
    font: bold medium Roboto,sans-serif;
}

ul.ui-autocomplete-multiple-container .ui-inputfield
{
    margin-bottom: 2px;
}

span.ui-autocomplete-token-label
{
    padding: 0;
}

.ui-outputlabel.uk-form-label
{
    color:#727272 ;
}
.ui-datatable-summaryrow.ui-widget-header .ui-column-title
{
    display:none;
}

.ui-selectlistbox-list .ui-selectlistbox-item .ui-chkbox
{
    margin : 10px; 
}


.ui-treetable th.ui-state-default {
    background: #ebedf0;
    border-color: #d9d9d9;
}

.ui-icon-triangle-1-s {
    background-position: -64px -16px;
}

.ui-icon-triangle-1-e {
    background-position: -32px -16px;
}
.ui-treetable .ui-selection .ui-chkbox-box .ui-icon {
    background-image: url(#{request.contextPath}/faces/javax.faces.resource/images/ui-icons_454545_256x240.png?ln=primefaces-omega);
}

/*.ui-state-highlight .ui-chkbox-box .ui-icon, .ui-state-highlight .ui-radiobutton-box .ui-icon {
    background-image: url(#{request.contextPath}/faces/javax.faces.resource/images/ui-icons_2e83ff_256x240.png?ln=primefaces-omega);
}*/

.ui-treetable .ui-selection .ui-chkbox-box {
    background-color: #fff;
}

.ui-treetable tbody>tr.ui-widget-content , .ui-treetable .ui-treetable-data tr.ui-state-hover {
    border-color: #d9d9d9 !important;
}
.ui-icon-minus {
    background-position: -48px -128px;
}
.ui-treetable th.ui-state-default {
    background: #ebedf0;
    border-color: #d9d9d9;
}

/*-------------------------------*/
.ui-icon-arrow-1-e {
    background-position: -32px -32px;
}

.ui-icon-arrowstop-1-e {
    background-position: -208px -32px;
}

.ui-icon-arrow-1-w {
    background-position: -96px -32px;
}
.ui-icon-arrowstop-1-w {
    background-position: -240px -32px;
}

.ui-picklist-buttons-cell button{
    background-color: #0099cc;   
}
